.badsucess input {

	border: 1px solid #3fad19;
    /* box-shadow: 0 0 4px -2px #CE5454; */
    position: relative;
    left: 0;
    -moz-animation: .7s 1 shake linear;
    -webkit-animation: 0.7s 1 shake linear;
}
.upload-foto{
	text-align: center;
}
.upload-foto img {
	width: 100%;
	height: 100%;
}